/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(./fonts/source-sans-pro/source-sans-pro.css);
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
  color: #222;
}

/*********************************************
  * GLOBAL STYLES
  *********************************************/
:root {
  /* --r-background-image: url('../../images/monochrome-cobblestone-dark.jpg'); */
  /* --r-background-image: url('../../images/monochrome-cobblestone.jpg'); */
  /* --r-background-image: url('../../images/github-bg-2.png'); */
  /* --r-background-image: url('../../images/background-3.png'); */
  --r-background-image: url('../../images/copilot-background2-dark.png');
  --bullet-icon: url('../../images/ball-blue.png');
  --box-image: url("../../images/background2.png");
  /* --r-background-color: #212121; */
  --color-start: rgb(0, 3, 39);
  --color-end: rgb(58, 58, 58);
  --box-color-start: rgb(31, 33, 0);
  --box-color-end: rgb(118, 133, 1);
  --color-line: rgb(0, 235, 161);
  --r-box-color1:rgb(149, 149, 149);
  --r-box-color2: rgb(79, 79, 79);
  /* --r-main-font: 'Michroma', sans-serif; */
  /* --r-heading-font: 'Michroma', sans-serif; */
  /* --r-main-font: Source Sans Pro, Helvetica, sans-serif; */
  --r-main-font: 'Varela', sans-serif;
  --r-chapter-font-size: 48px;
  --r-list-title-size: 16px;
  --r-list-subtitle-size: 14px;
  --r-main-font-size: 14px;
  --r-main-color: #a2a2a2;
  --r-block-margin: 10px;
  --r-heading-margin: 0 0 10px 0;

  --r-heading-color: #fff;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: uppercase;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 600;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.6em;
  --r-heading3-size: 1.3em;
  --r-heading4-size: 1em;
  --r-code-font: monospace;
  --r-link-color: #42affa;
  --r-link-color-dark: #068de9;
  --r-link-color-hover: #8dcffc;
  --r-selection-background-color: rgba(66, 175, 250, 0.75);
  --r-selection-color: #fff;
  --r-overlay-element-bg-color: 240, 240, 240;
  --r-overlay-element-fg-color: 0, 0, 0;
}

/*********************************************
  * GitHub Theme stuff (@jefeish)
  *********************************************/

.title {
  color: var(--r-heading-color);
  font-size: var(--r-list-title-size);
  margin: 0;
  margin-top: 10;
  padding: 0;
  /* border: dashed 1px blue; */
}
 
.title1 {
  color: rgb(150, 252, 150);
  font-size: var(--r-list-title-size);
  margin: 0;
  margin-top: 10;
  padding: 0;
}

.subtitle  {
  display: block;
  color: var(--r-main-color);
  font-weight: lighter;
  font-size: var(--r-list-subtitle-size);
  padding: 0;
  margin: 0;  
  /* border: dashed 1px red; */
 }

 constainer-list > p.title {
  display: block;
  margin: 0;
  padding: 0; 
  margin-top: 10px;
  /* border: dashed 1px red; */
}

p.title {
  display: block;
  margin: 0;
  padding: 0; 
  margin-top: 0px;
  /* border: dashed 1px greenyellow */
}

 p.subtitle {
  display: block;
  margin: 0;
  padding: 0; 
  /* border: dashed 1px yellow */
}

.container {
  display: flex;
  justify-content: space-between;
  /* text-align options: left, center, right, justify */
  text-align: left;
  font-size: var(--r-list-title-size);
  padding: 0px;
  margin: 0 0 0 0px;
  /* height: 100vh; 
  width: 100vw; */
  /* border: dashed 1px gray; */
}

.container-chapter {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  /* text-align options: left, center, right, justify */
  text-align: center;
  font-size: var(--r-chapter-font-size);
  padding: 5px;
  /* height: 100vh; 
  width: 100vw; */
  background: linear-gradient(to right, var(--color-start) 50%, var(--color-end) 50%);
}

.container-image-title {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically in the center */
  margin-left: 30px; /* Add spacing to the left */;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.container-image-title img {
  width: 60px; /* Adjust the width of the image as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing between image and text */
}

.column1 {
  flex: 1;
  padding: 25px;
  margin: 0 30px;
  text-align: left;
  font-size: large;
}

.column2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0 10px;
  /* border: dashed 1px red; */
}

.column2 p.subtitle {
  flex: 1;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  /* border: dashed 1px grey; */
}

.column3 {
  flex: 1;
  padding: 5px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.column4 {
  flex: 1;
  padding: 5px;
  margin: 0 10 20px;
  margin-bottom: 20px;
}

.column4 p.subtitle {
  border-top: 2px solid var(--color-line);
  padding-top: 5px;
  /* color: rgb(165, 165, 165); */
}

.mid-container {
  border-top: 2px solid var(--color-line);
  border-bottom: 2px solid var(--color-line);
  display: flex;
  justify-content: space-between;
  /* text-align options: left, center, right, justify */
  text-align: justify;
  font-size: 18px;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  /* height: 100vh; */
}

.text-column {
  flex: 1;
  padding: 5px;
  margin-right: 50px;
}

.image-column {
  flex: 1;
  padding: 5px;
}

.image-column-list {
  padding: 5px;
}

.code-column {
  flex: 1;
  padding: 5px;
  margin-right: 50px;
  font-size: x-large
}

.image-column {
  /* border: 1px dashed green; */
  /* debug statement */
  width: 400px;
  /* Set the width of the container */
  height: 500px;
  /* Set the height of the container */
  display: flex;
  /* Use flexbox for centering */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  overflow: hidden;
  /* Hide any overflow */
}

.image-column img {
  max-width: 100%;
  /* Ensure the image doesn't exceed the container's width */
  max-height: 100%;
  /* Ensure the image doesn't exceed the container's height */
  display: block;
  /* Remove any extra spacing */
  margin: auto;
  /* Center the image */
}

.image-column-small img {
  max-width: 50%;
  /* Ensure the image doesn't exceed the container's width */
  max-height: 50%;
  /* Ensure the image doesn't exceed the container's height */
  display: block;
  /* Remove any extra spacing */
  margin: auto;
  /* Center the image */
}

.chapter {
  display: flex;
  font-size: var(--r-chapter-font-size);
  color: var(--r-heading-color);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.chapter img {
  width: 150px;
}

.chapter svg {
  width: 150px;
  height: 150px;
  stroke: var(--color-line);
}

.container-list {
  display: flex;
  text-align: left;
  align-items: center;
  font-size: var(--r--font-size);
  margin-left: 10px;
  padding: 0px;
  align-items: flex-start;
}

.container-list img {
  justify-content: left;
  align-items: center;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 50px;
}

.container-30-70{
  display: flex;
  justify-content: space-between;
  /* text-align options: left, center, right, justify */
  text-align: left;
  align-items: center;
  margin: 0 0 0 0px;
  /* height: 100vh; 
  width: 100vw; */
}

.column-left {
  flex: 0 0 30%; /* 30% width */
  padding: 0 10px; /* Adjust padding as needed */
  padding-right: 50px;
}

.column-left > p.title {
  font-size: xx-large;
  margin-bottom: 10px;
}

.column-right {
  flex: 0 0 calc(70% - 50px); /* 70% width minus 50px margin */
  padding: 0 10px; /* Adjust padding as needed */
  margin-left: 50px;
}

.bullet-point {
  background-image: var(--bullet-icon); /* Use the CSS variable */
  background-size: cover;
  background-position: center;
  width: 20px; 
  height: 20px;
  min-width: 20px; /* Add this line */
  min-height: 20px; /* Add this line */
  margin-right: 20px; /* Adjust margin as needed */
  align-items: top  ;
}

.container-list > .bullet-point {
  margin-top: 15px;
}
  
.list-box {
  display: flex;
  flex-direction: column;
  align-items: center; 
  /* border: dashed 1px red; */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 8px;
  text-align: left;
  font-size: xx-large;
  color: white;
}

td { 
  padding: 8px;
  text-align: left;
}

/* Alternate table row colors */
/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.rounded-box-image {
  border: 1px solid var(--r-box-color2);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: var(--box-image);
  background-size: cover; 
}

.rounded-box-image h1, h2, h3, h4 {
  color: var(--r-heading-color);
  padding-top: 5px;
}


.rounded-box-gradient {
  border: 1px solid var(--r-box-color2);
  color: var(--r-heading-color);
  text-align: center;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  opacity: 1.0; 
  background: linear-gradient(to top right, var(--box-color-start) 0%, var(--box-color-end) 100%);
}

.rounded-box {
  border: 1px solid var(--r-box-color1);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
}

.rounded-box p {
  padding: 0px;
  padding-left: 20px;
  margin: 0px;
}

.container-list.rounded-box {
  display: flex;
  text-align: left;
  align-items: center;
  font-size: 20px;
  margin-left: 0px;
  padding: 0px;
}

.rounded-box h2, .rounded-box h3, .rounded-box h4 {
  padding: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
/*********************************************
  * END - GitHub Theme stuff (@jefeish)
  *********************************************/

.reveal-viewport {
  background: #191919;
  background-color: var(--r-background-color);
  background: linear-gradient(to top right, var(--color-start) 0%, var(--color-end) 100%);
  background-position: center;
  background-image: var(--r-background-image);
  background-size: cover; 
}

.reveal {
  background-color: var(--r-background-color);
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  font-weight: normal;
  color: var(--r-main-color);
}

.reveal ::selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section>section {
  line-height: 1.3;
  font-weight: inherit;
  margin-top: 10px;
}

/*********************************************
  * HEADERS
  *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: var(--r-heading-margin);
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
  font-weight: var(--r-heading-font-weight);
  line-height: var(--r-heading-line-height);
  letter-spacing: var(--r-heading-letter-spacing);
  text-transform: var(--r-heading-text-transform);
  text-shadow: var(--r-heading-text-shadow);
  word-wrap: break-word;
}

.reveal h1 {
  font-size: var(--r-heading1-size);
}

.reveal h2 {
  font-size: var(--r-heading2-size);
}

.reveal h3 {
  font-size: var(--r-heading3-size);
}

.reveal h4 {
  font-size: var(--r-heading4-size);
}

.reveal h1 {
  text-shadow: var(--r-heading1-text-shadow);
}

/*********************************************
  * OTHER
  ********************************************/

.reveal p {
  margin: var(--r-block-margin) 0;
  line-height: 1.2;
  padding: 0px
}

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: var(--r-block-margin) auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: var(--r-block-margin) auto;
  text-align: left;
  font-size: 0.55em;
  font-family: var(--r-code-font);
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
  font-family: var(--r-code-font);
  text-transform: none;
  tab-size: 2;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal .code-wrapper {
  white-space: normal;
}

.reveal .code-wrapper code {
  white-space: pre;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align=center],
.reveal table td[align=center] {
  text-align: center;
}

.reveal table th[align=right],
.reveal table td[align=right] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

.reveal img {
  margin: var(--r-block-margin) 0;
}

/*********************************************
  * LINKS
  *********************************************/
.reveal a {
  color: var(--r-link-color);
  text-decoration: none;
  transition: color 0.15s ease;
}

.reveal a:hover {
  color: var(--r-link-color-hover);
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: var(--r-link-color-dark);
}

/*********************************************
  * Frame helper
  *********************************************/
.reveal .r-frame {
  border: 4px solid var(--r-main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--r-link-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
  * NAVIGATION CONTROLS
  *********************************************/
.reveal .controls {
  color: var(--r-link-color);
}

/*********************************************
  * PROGRESS BAR
  *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--r-link-color);
}

/*********************************************
  * PRINT BACKGROUND
  *********************************************/
@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
}
